<p-toolbar styleClass="mb-6">
    <ng-template #start>
        <p-button label="Subir Archivo" icon="pi pi-plus" severity="secondary" class="mr-2" />
        <!-- <p-button label="Export" icon="pi pi-upload" severity="secondary" (onClick)="exportCSV()" /> -->
    </ng-template>

    <ng-template #end>
        <input type="text" pInputText id="nombre" [(ngModel)]="carpeta.nombre" fluid autocomplete="off" />
        <p-button label="Crear Carpeta" icon="pi pi-plus" severity="secondary" class="mr-2" (onClick)="createCarpeta()" />
    </ng-template>
</p-toolbar>

<div class="card">
    <div class="font-semibold text-xl mb-4">Documentos</div>
    <p-tree [value]="documentos" styleClass="w-full md:w-[30rem]" [filter]="true"
    emptyMessage="Sin documentos" filterPlaceholder="Buscar" [loading]="loading"
    selectionMode="single" (onNodeSelect)="select($event)" (onNodeUnselect)="unselect()" />
    @if (selectedFile) {
        <div class="grid-cols-12">
            <p>{{selectedFile.nombre}}</p>
            <p-button label="Abrir" severity="success" (onClick)="openFile()" />
            <p-button label="Borrar" severity="danger" (onClick)="deleteFile()" />
        </div>
    }
    @if (selectedCarpeta) {
        <p>Carpeta: {{selectedCarpeta}}</p>
        <p-button label="Borrar" severity="danger" (onClick)="deleteFolder()" />
    }
</div>


<div class="card">
    <div class="font-semibold text-xl mb-4">Basic</div>
    <div class="flex flex-col gap-4 items-center justify-center">

        <p-select [options]="carpetas" [(ngModel)]="doc.carpeta" [showClear]="true"
        optionLabel="nombre" placeholder="Seleccionar carpeta" class="w-80" />

        <!-- <p-fileupload #fu mode="basic" chooseLabel="Choose" chooseIcon="pi pi-upload"
        name="demo" accept="image/*"
        maxFileSize="1000000" (onchange)="onUpload($event)" /> -->

        <label for="myfile">Seleccionar Archivo:</label>
        <input type="file" id="myfile" name="myfile" (input)="onUpload($event)">

        <p-button label="Cargar" (onClick)="upload()" severity="secondary" />
    </div>
</div>
