<p-toast position="top-right" key="confirm" [baseZIndex]="5000">
    <ng-template let-message #headless let-closeFn="closeFn">
        <section class="flex flex-col p-4 gap-4 w-full bg-primary/70 rounded-xl">
            <div class="flex items-center gap-5">
                <span class="font-bold text-base text-white dark:text-black">{{ message.summary }}</span>
                <p-progress-spinner strokeWidth="8" fill="transparent" animationDuration="1s" [style]="{ width: '20px', height: '20px' }" />
            </div>
        </section>
    </ng-template>
</p-toast>

<p-toast />
<p-toolbar styleClass="mb-6">
    <ng-template #start>
        <p-button label="Crear Tarjeta" icon="pi pi-plus" severity="secondary" class="mr-2" (onClick)="openNew()" />
    </ng-template>

    <!-- <ng-template #end>
        <p-button label="Registrar Egreso" icon="pi pi-plus" severity="secondary" class="mr-2" (onClick)="openNew()" />
    </ng-template> -->
</p-toolbar>


@if (loading) {
    <div class="spinner-container">
        <p-progress-spinner class="" ariaLabel="loading" />
      </div>
} @else {
    <p-table
    #dt
    [value]="tarjetas()"
    [rows]="10"
    [columns]="cols"
    [paginator]="true"
    [globalFilterFields]="['ID', 'nombre', 'titular', 'limite']"
    [tableStyle]="{ 'min-width': '75rem' }"
    [(selection)]="selectedTarjeta"
    [rowHover]="true"
    dataKey="ID"
    currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} tarjetas"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 20, 30]"
>
    <ng-template #caption>
        <div class="flex items-center justify-between">
            <h5 class="m-0">Tarjetas</h5>
            <p-iconfield>
                <p-inputicon styleClass="pi pi-search" />
                <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Buscar..." />
            </p-iconfield>
        </div>
    </ng-template>
    <ng-template #header>
        <tr>
            <!-- <th style="width: 3rem">
                <p-tableHeaderCheckbox />
            </th> -->
            <!-- <th style="min-width: 16rem">ID</th> -->
            <th pSortableColumn="nombre" style="min-width:16rem">
                Nombre
                <p-sortIcon field="nombre" />
            </th>
            <!-- <th>Image</th> -->
            <th pSortableColumn="titular" style="min-width:16rem">
                Titular
                <p-sortIcon field="titular" />
            </th>

            <th pSortableColumn="limite" style="min-width:16rem">
                Limite
                <p-sortIcon field="limite" />
            </th>


            <th style="min-width: 12rem"></th>
        </tr>
    </ng-template>

    <ng-template #body let-tarjeta>

            <tr>
                <td style="min-width: 16rem">{{ tarjeta?.nombre }}</td>

                <td>{{ tarjeta?.titular }}</td>
                <td>{{ tarjeta?.limite | miles }}</td>

                <td>
                    <p-button icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true" (click)="openEdit(tarjeta)" />
                    <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true" (click)="openConfirmation(tarjeta)" />
                </td>
            </tr>

    </ng-template>
</p-table>
}


<p-dialog [(visible)]="productDialog" [style]="{ width: '450px' }" header="Crear Categoria" [modal]="true">
    <ng-template #content>
        <div class="flex flex-col gap-6">
            <div>
                <label for="name" class="block font-bold mb-3">Nombre</label>
                <input type="text" pInputText id="nombre" [(ngModel)]="tarjeta.nombre" required autofocus fluid autocomplete="off" />
                <small class="text-red-500" *ngIf="submitted && !tarjeta?.nombre">Falta el nombre</small>
            </div>

            <div>
                <label for="titular" class="block font-bold mb-3">Categoria</label>
                <p-select appendTo="body" [(ngModel)]="tarjeta.titular" inputId="titular"
                [options]="titulares" optionLabel="label" optionValue="label" placeholder="Seleccionar Titular" required fluid />
                <small class="text-red-500" *ngIf="submitted && !tarjeta?.titular">Falta el titular</small>
            </div>

            <div>
                <label for="limite" class="block font-bold mb-3">Limite</label>
                <p-inputnumber id="limite" [(ngModel)]="tarjeta.limite" mode="currency" currency="PYG" locale="es-ES" required fluid />
                <small class="text-red-500" *ngIf="submitted && !tarjeta?.limite">Falta el limite</small>
            </div>


        </div>
    </ng-template>

    <ng-template #footer>
        @if (isEdit) {
            <p-button label="Cancelar" icon="pi pi-times" text (click)="hideDialog()" />
            <p-button label="Editar" icon="pi pi-check" (click)="edittarjeta()" />
        } @else {
            <p-button label="Cancelar" icon="pi pi-times" text (click)="hideDialog()" />
            <p-button label="Registrar" icon="pi pi-check" (click)="registrarEgreso()" />
        }
    </ng-template>
</p-dialog>

<p-confirmdialog [style]="{ width: '450px' }" />

<p-dialog header="Confirmar" [(visible)]="displayConfirmation" [style]="{ width: '350px' }" [modal]="true">
    <div class="flex items-center justify-center">
        <i class="pi pi-exclamation-triangle mr-4" style="font-size: 2rem"> </i>
        <span>Queremos borrar?</span>
    </div>
    <ng-template #footer>
        <p-button label="No" icon="pi pi-times" (click)="closeConfirmation()" text severity="secondary" />
        <p-button label="Yes" icon="pi pi-check" (click)="closeConfirmation(); deleteProduct()" severity="danger" outlined autofocus />
    </ng-template>
</p-dialog>
